body {
  padding:10px;
  background: #000;
}
.pgAxis {
  /*background: #aaa;*/
}
.pgPlot {
  font-family: futura;
  font-size: 0.8em;
  margin:3px 20px;
  background: #fff;
  overflow: hidden;
  padding:3px;
}
.pgAxisContainer {
}
.pgPlotTitle {
  font-weight: bold;
}
.pgAxisTitle {
  font-style: italic;
}
.pgPlotBody {
}
.pgAxisTitle {
  /*background: #faa;*/
}
.pgAxisLabels {
  /*background: #afa;*/
  font-size:0.8em;
  font-family: monospace;
}
.pgAxisScale {
  /*background: #aaf;*/
}